<mat-accordion class="example-headers-align">

  <mat-expansion-panel hideToggle disabled class="background-accent-light  custom-shadow ">
    <mat-expansion-panel-header class="cursor">
      <mat-panel-title class="menu-font">{{title1}}</mat-panel-title>

      <mat-panel-description class="menu-font">{{title2}}</mat-panel-description>

      <mat-panel-description class="menu-font">{{title3}}</mat-panel-description>

    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <div *ngFor="let service of servicesInf">
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{service.serviceName}}
        </mat-panel-title>

        <mat-panel-description
          [ngClass]="{
            'color-negetive' : !isRunning(service.status),
            'color-positive' : isRunning(service.status)
            }">
          {{service.status}}
        </mat-panel-description>

        <mat-panel-description>
          <button (click)="onClick(service)" mat-button *ngIf="isRunning(service.status)"> Suspend</button>
          <button (click)="onClick(service)" mat-button *ngIf="!isRunning(service.status)"> Activate</button>
        </mat-panel-description>


      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>

  </div>


</mat-accordion>
