<app-panel>
  <ng-container class="header">Server Main</ng-container>
  <ng-container class="body">
    <div class="d-flex justify-content-between flex-wrap align-content-start">
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
      <app-dashboard-card></app-dashboard-card>
    </div>
  </ng-container>
</app-panel>
