.container {
  background-color: #fff;
  margin: 30px;
}


.header {
  background-color: #7986cb;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 24px;
  height: 54px;
  opacity: 86%;
  padding-left: 25px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
