<mat-selection-list class="style-list" [multiple]="false">
  <mat-list-option routerLinkActive="active" routerLink="dashboard" >H/W Dashboard</mat-list-option>
  <mat-list-option routerLinkActive="active" routerLink="service-monitoring">Service monitoring</mat-list-option>
  <mat-list-option routerLinkActive="active ">User management</mat-list-option>
  <mat-list-option routerLinkActive="active">Backup</mat-list-option>
  <mat-list-option routerLinkActive="active">User management</mat-list-option>
  <mat-list-option routerLinkActive="active" routerLink="log-management">Log Manegement</mat-list-option>
</mat-selection-list>

