/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.background-primary{
  background-color: #3f51b5;
}

.background-primary-light{
  background-color: #9FA8DA;
}

.background-primary-dark{
  background-color: #283593;
}


.background-accent{
  background-color: #E91E63;
}

.background-accent-light{
  background-color: #F8BBD0;
}

.background-accent-dark{
  background-color: #AD1457;
}


.background-warning{
  background-color: #E91E63;
}

.background-warning-light{
  background-color: #F8BBD0;
}

.background-warning-dark{
  background-color: #AD1457;
}

.color-white-high{
  color: #FFFFFFDE;
}

.color-white-medium{
  color: #FFFFFFDD;
}

.color-white-disable{
  color: #FFFFFF60;
}

.color-accent{
  color: #E91E63;
}
